.main{
    display: flex;
    width:80%;
    height: 100vh;
    margin: auto;
}
.left{
    flex:1;
   /* background-color: antiquewhite; */
}
.right{
    flex:3;
    /* background-color: beige; */
    margin-left: 30px;
}
.App{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(7, 45, 45)
}
.underline{
    color: blueviolet;
    font-weight: bolder;
    
}

.left{
    text-align: left;
    margin-top: 10px;
}
body{
    background-color: azure;
}